# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*

# next.js
Client/.next/
Client/out/
/.next/
/out/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
/build
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# uploads
Server/uploads/*
!Server/uploads/.gitkeep
