@import "tailwindcss";

@theme inline {
  --color-legalDark: var(--theme-dark);
  --color-legalNavy: var(--theme-navy);
  --color-tealAccent: var(--theme-accent);
  --color-lightBg: var(--theme-bg);
  --color-warmGray: var(--theme-gray);
  --color-textMuted: var(--theme-muted);
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-el-messiri);
}

:root {
  --theme-dark: #5d7782;
  --theme-navy: #4f6872;
  --theme-accent: #3bd6c6;
  --theme-bg: #fafcfc;
  --theme-gray: #f1f6f5;
  --theme-muted: #8093a0;
}

@layer base {
  body {
    background-color: var(--color-lightBg);
    color: var(--color-legalDark);
  }

  ::selection {
    background-color: #43e8d840;
    color: #3a4a58;
  }
}
