@import "tailwindcss";

@theme inline {
  --color-legalDark: #5d7782;
  --color-legalNavy: #4f6872;
  --color-tealAccent: #3bd6c6;
  --color-lightBg: #fafcfc;
  --color-warmGray: #f1f6f5;
  --color-textMuted: #8093a0;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-el-messiri);
}

@layer base {
  body {
    background-color: var(--color-lightBg);
    color: var(--color-legalDark);
  }

  ::selection {
    background-color: #43e8d840;
    color: #3a4a58;
  }
}
