@import "tailwindcss";

@theme inline {
  --color-legalDark: #2e4a3d;
  --color-legalNavy: #3b5c4d;
  --color-tealAccent: #A0D684;
  --color-sage1: #A0D684;
  --color-sage2: #AAF001;
  --color-lightBg: #f5fbf5;
  --color-warmGray: #eaf5eb;
  --color-textMuted: #8abf8a;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-el-messiri);
}

@layer base {
  body {
    background-color: var(--color-lightBg);
    color: var(--color-legalDark);
  }

  ::selection {
    background-color: #43e8d840;
    color: #3a4a58;
  }
}
